/.idea

activate
.virtualenv/*
settings_local.py

.DS_Store
._*
.~*#
*.swp
*.swo
*.swn
*.pyc
.svn
*.orig
_build
build
dist
*.egg-info
logfile.log
db.sqlite3
pay2pay.log

build/*
dist/*
django_pay2pay.egg-info/*w